@model IEnumerable<Web_GEO.Models.Cars.Tayota.ColorModel>

<h1>ShowCars</h1>

<p style="color: forestgreen"><a asp-action="Create">Create New</a></p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.URL)</th>
            <th>@Html.DisplayNameFor(model => model.RGB)</th>
            <th>@Html.DisplayNameFor(model => model.Code)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Name)</td>
                <td><img src="@item.URL" height="25" width="25" style="border-radius: 10px" alt="@item.URL" /></td>
                <td style ="background-color: @item.RGB">@Html.DisplayFor(i => item.RGB)</td>
                <td>@Html.DisplayFor(i => item.Code)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id"> | Details | </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pagination", (PaginateViewModel)ViewData["Paginate"])
@Html.Partial("_OrderBy", (PaginateViewModel)ViewData["Paginate"])