@model IEnumerable<Web_GEO.Models.Dolly.DollyModel>


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StyleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StyleModel.Name)
                </td>
                <td>
                    <img src="@item.ImageModel.URL" height="300" width="300" alt="@item.ImageModel.URL" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
